<h1>Render the File HBS</h1>

<div>
Your Message is : {{msg2}}
</div>

<br/>
<br/>
<div>
Render HTML into the DOM
{{{html}}}
</div>

<div>

<h4>Rendering Complex Objects.</h4> 

<p>Country Name : {{country.name}}</p>
<p>Country Capital : {{country.capital}}</p>
</div>

{{!-- comment --}}

{{#each countries}}
    {{#if this.western}}
    <li>{{this.name}} --- {{this.capital}}</li>
    {{/if}}
{{/each}}