doctype html
html
    head
        title This is pug
        script(src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    body
        div.container
            h1 Rendering Pug File.
            div
                p A Message
            p Another Message

            div.container
                div.row
                    div.col-sm-3 #{msg}
                    div.col-sm-3 #{msg2}
                    div.col-sm-3 #{msg}
                    div.col-sm-3 #{msg2}
            br
            br
        div.container !{html}
        div.container
            div.row
                ul.col-sm-12
                    each country in countries
                        li= country.name + '--'+country.capital
                        if country.western
                            div.western This country is in western

        div Message of the day : (2+2) = #{2+2}
            


